body {
  margin: 0px;
  padding: 0px;
  background: rgb(195, 195, 195);
}
#myCanvas {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 2px solid black;
  /*background: white;*/
}
#title{
  margin-top: 30px;
  font-weight: bold;
  color: blue;
}
#description{
  margin: 10px, 0, 10px, 0;
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 10px;
  color:black;
}
#predictedNumber{
  margin-top: 30px;
  font-weight: bold;
  color: rgb(187, 0, 0);
}

